@import '../../assets//styles/index.scss';

$login-background-color: #cccc;
$primary-color: #3c84b6;
$light-primary: #dff1fe;

.Login-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $login-background-color;
  .Login-title {
    font-size: 18px;
    padding: 10px 10px 50px 10px;
    @include themify($themes) {
      color: themed('textColor');  
    }
    img {
      height: 100%;
    }
  }
  .Login-form {
    width: 60%;
    .Login-input {
      background: $light-primary;
      border-radius: 10px;  
    }
    .Login-button {
      text-align: end;
      .button {
        box-shadow: $box-shadow;
        border-radius: 5px;
        background: $light-primary !important;
        @include button();
      }
    }
  }
}