@import './_themes.scss';

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map:() !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@mixin button() {
  background: transparent;
  border: none;
  outline: none;
  padding: 10px;
  width: 30%;
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  min-width: 70px;
  height: 70px;
  text-transform: uppercase;
  cursor: pointer;
}